@{
    ViewBag.Title = "Editar Usuario";
}

@model ClienteWebOsel.ViewModels.ViewModelUsuario

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pinturas Osel</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/main.js"></script>
</head>
<body>
    <header>
        <nav class="NavBar full">
            <div class="row">
                <div class="tittles NavBar-logo col s12 m3">Pinturas Osel</div>
                <ul class="NavBar-links col m9">
                    <li><a href="@Url.Action("Index", "Home")" class="waves-effect">Inicio</a></li>
                    <li><a href="@Url.Action("Index", "Pintura")" class="waves-effect">Pinturas</a></li>
                </ul>
                <i class="zmdi zmdi-more-vert full btn-menu hide-on-med-and-up waves-effect"></i>
            </div>
        </nav>
        <div class="row">
            <h4 class="center-align tittles">Editar Usuario</h4>
        </div>
    </header>

    <section>
        <div class="container">
            @using (Html.BeginForm("Editar", "Pintura"))
            {
                <table cellpadding="2" cellspacing="2">
                    <tr>
                        <td>@Html.LabelFor(model => model.Usuario.Id)</td>
                        <td>
                            @Html.ValueFor(model => model.Usuario.Id)
                            @Html.HiddenFor(model1 => model1.Usuario.Id)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Usuario.Nombre)</td>
                        <td>@Html.TextBoxFor(model1 => model1.Usuario.Nombre)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Usuario.Telefono)</td>
                        <td>@Html.TextBoxFor(model1 => model1.Usuario.Telefono)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Usuario.Email)</td>
                        <td>@Html.TextBoxFor(model1 => model1.Usuario.Email)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Usuario.Contrasena)</td>
                        <td>@Html.TextBoxFor(model1 => model1.Usuario.Contrasena)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Usuario.Nivel)</td>
                        <td>@Html.TextBoxFor(model1 => model1.Usuario.Nivel)</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" value="Guardar cambios" /></td>
                    </tr>
                </table>
            }
        </div>
    </section>
    <footer class="footer">
        <div class="col s12 tittles footer-copyright">Osel Pinturas &copy; 2017</div>
    </footer>
</body>
</html>